.Historique {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Commande {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    align-items: stretch;
    width: 50%;
    height: 175px;
    text-decoration: none;
    color: black;
    margin-bottom: 2%;
    cursor: pointer;
}

.Commande p {
    margin-bottom: 0px;
    margin-top: 0px;
}