.RegForm {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 25%;
    padding-top: 5vh;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    background-color: #ffffff;
}

.RegButton {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.RegButton:hover {
    background-color: #383838;
}

.RegButton:active {
    background-color: #6a6a6a;
}